<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361319922953-sps8d8bdqsbl9qqgb1oqq01mamma87ci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361319922953-sps8d8bdqsbl9qqgb1oqq01mamma87ci</string>
	<key>API_KEY</key>
	<string>AIzaSyDo8wVJcITZNQh-9t9t7S-F0F1YBiy7Isw</string>
	<key>GCM_SENDER_ID</key>
	<string>361319922953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>vize-030121086-fc116</string>
	<key>STORAGE_BUCKET</key>
	<string>vize-030121086-fc116.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361319922953:ios:99f4365c66ff2c7ac567d8</string>
</dict>
</plist>